force-app/main/default/flows/Picture_Upload_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Document_Id</name>
        <label>Convert Document Id</label>
        <locationX>685</locationX>
        <locationY>88</locationY>
        <actionName>GetContentVersionId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Target_Record</targetReference>
        </connector>
        <inputParameters>
            <name>docIds</name>
            <value>
                <elementReference>documentId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>TargetRecord.Content_Version_Id__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Doc_Id_to_Doc_Id</name>
        <label>Doc Id to Doc Id</label>
        <locationX>494</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>documentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>documentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reduce_Document_Ids</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Picture Upload Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Picture Upload Wizard</label>
    <loops>
        <name>Reduce_Document_Ids</name>
        <label>Reduce Document Ids</label>
        <locationX>494</locationX>
        <locationY>73</locationY>
        <assignNextValueToReference>documentId</assignNextValueToReference>
        <collectionReference>documentIdCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Doc_Id_to_Doc_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Convert_Document_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Target_Record</name>
        <label>Get Target Record</label>
        <locationX>195</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upload_picture</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Pictures__c</object>
        <outputReference>TargetRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Target_Record</name>
        <label>Update Target Record</label>
        <locationX>827</locationX>
        <locationY>92</locationY>
        <inputReference>TargetRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Upload_picture</name>
        <label>Upload picture</label>
        <locationX>345</locationX>
        <locationY>73</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reduce_Document_Ids</targetReference>
        </connector>
        <fields>
            <name>Upload_Picture_Comp</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload picture</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>TargetRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>documentIdCollection</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Target_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>documentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>documentIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pictures__c</objectType>
    </variables>
</Flow>
